*
{
    margin: 0px;
    padding: 0px;
}

main
{
    height: 100vh;
    width: 100%;
    margin: 0px;
    background-color: #353333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*Default widget styles */
label
{
    display: block;
}

button
{
    padding: 10px;
    width: 25%;
    border-style: none;
    border-radius: 25px;
    margin: 5px 0px;
}

h1
{
    margin-top: 10px;
}



.container
{
    padding: 10px;
    margin: 0px auto;
    width: 60%;
    margin-top: auto;
    text-align: center;
    color: #f3ecd5;
}


.logo
{
    height: 200px;
    width: 200px;
    border: 5px solid #cbac36;
    border-radius: 50%;
    background: url("assets/grit_png.png");
    box-shadow: 0px 0px 0px 5px #f3ecd5;
    background-size: 200px 200px;
    margin: 10px auto;
}

.character_slot
{
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
    margin: 10px auto;
    border: 5px solid #cbac36;
    border-radius: 50%;
}

/* Design Mine Bot */
.character
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.c_upper_body
{
    width: 150px;
    margin: 45px auto;
}

.c_top
{
    height: 80px;
    background-color: aqua;
    width: 150px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 20%;
}

.c_lower_body
{
    width: 120px;
    margin: -10px auto;
}

.c_roller
{
    background-color: red;
    height: 25px;
    border-radius: 50%;
}

.c_wheels
{
    height: 30px;
    width: 30px;
    background-color:  green;
    border-radius: 50%;
    display: inline-block;
    margin: -7px 5px;
}


/* Design game interface */
.game_interface
{
    background:  linear-gradient(180deg, cyan 0%, #87CEEB);
    height: 60%;
    border-bottom: 5px solid grey;
}

.game_background
{
    height: 70%;
}

.ground
{
    height: 30%;
    border-top: 2px solid black;
    background-color:  #9B7653;
}

.editor
{
    height: 30%;
}